.container-fluid
  #status
  if !feedback_given
    .hidden-phone.feedback(style="margin-top:-5px")
      .alert.alert-success.alert-app
        span
          strong Hey #{nickname}! 
          | Can I ask you a favor? I'd really appreciate feedback about me.
          .hidden-phone.input-append.pull-right(style="margin-top:-9px;margin-right:-30px")
            input#feedback.input-large.span3(style="margin-left:10px;margin-top:4px", placeholder="Go on, be honest...")
            button.btn(style="margin-top:3px; margin-left:-5px") Send!
  .row-fluid
    .span3
      .well.sidebar-nav
        ul#sidebar-upcoming.nav.nav-list
      .well.sidebar-nav
        ul#sidebar-courses.nav.nav-list
    .span9
      #content
        .hero-unit.well(style="margin-top:30px; text-align:center;")
          if firstrun
            h1#welcome-message Your turn, #{nickname}.
            br
            p To get started, just click on a link to the left.
          else
            h1#welcome-message Miss me?
            br
            p.hidden-phone You know the drill #{nickname}, just click on a link to the left.
            p.visible-phone You know the drill #{nickname}, just click on a link above.
          h1.hidden-phone &larr;
          h1.visible-phone &uarr;

// App
script(src='/js/helpers.js')
script(src='/js/routes.js')
script(src='/js/models.js')
script(src='/js/views.js')
script
  window.router = new KeebaRouter ();

  window.socket = io.connect('', {
    'max reconnection attempts': 5,
    'reconnection delay': 1000, 
    'connect timeout': 5000
  });

  window.courses = new CourseCollection;
  window.app = new AppView ();

  window.settings.set(!{settings});
  window.courses.reset(!{courses});

  window.app.updateUpcoming();
  window.app.updateCourses();

  if (settings.get('details') === true) {
    window.app.showDetails()
  }

  window.feedbackview = new FeedbackView ();

  Backbone.history.start({pushState: true, root: "/app/"});