<div style="display:none" data-id="{{_id}}"</div>

<td name="done" class="done-toggle">
  <input type="checkbox" {{#if done}} checked {{/if}}>
</td>

<td>
  <span>{{{keyword title}}} {{title}}</span>
  <input type="text" style="display:none;" value="{{title}}">
</td>

<td>
  {{{format_date date}}}
</td>

<td class="details">
  {{#if details}}
    <button class="btn btn-link details-show">Show details</button>
  <!--   <button class="btn btn-link details-expand details-content pull-right" style="display:none">Fullscreen</button> -->
      <button class="btn btn-mini btn-inverse details-expand details-content pull-right" style="display:none" title="Fullscreen">
        <i class="icon-resize-full icon-white"></i>
      </button>
    <div class="details-content" style="display:none"> {{{details}} </div>
  {{else}}
    <i>No additional information</i>
  {{/if}}
</td>

<td>
  <button class="btn btn-mini button-edit" title="Edit">
    <i class="icon-pencil"></i>
  </button>
</td>